{
  "youtube_api_key": "AIzaSyBLejlHdB8DeN1mPOSFMU4vWJwz8YsFTwg",
  "channels": {
    "UC2Xj7yOR4FyLMWiUce1vjdA": "Ideas Earth",
    "UC9wjlkT2YBQHuCejvHCztsw": "ViStorm",
    "UCQmgzE_jWnIrGN3jqDQeQCQ": "白雪熊SnowBear",
    "UCUQtsb-9SOtRfONTl4qPw3w": "遇见",
    "UC-4avig6ySwwKLv5SLlXXcg": "WZenKai"
  },
  "smtp": {
    "host": "smtp.qq.com",
    "port": 587,
    "use_tls": true,
    "sender_email": "2053037956@qq.com",
    "password": "afgwlsqpojqxihgg"
  },
  "notification": {
    "recipient_email": "3630644102@qq.com",
    "max_videos_per_channel": 5
  }
}
